/* DualTone navigation block customizations
------------------------------------------- */
@media (min-width: 600px) {
    .is-border-width-2 {
        border: 1px solid;
        padding: 8px;
    }
}

@media (min-width: 782px) {
    .is-style-sidebar-navigation .wp-block-navigation-item {
        width: 100%;
    }
    .is-border-width-2 {
        border: none;
        padding: 0;
    }
}
